body {
    background-color: #e0e4ed;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-position: center top;
}

.slogan {
    font-weight: bold;
    /* font-size: 3rem !important; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.brandLogoPic {
    height: 4rem;
}


.cardTitle {
    text-align: center;
}

.page-footer{
    
    width: 100%;
    height: 40px;
    
}

nav{
    background-color: #1c486b;
<<<<<<< HEAD
}

footer.page-footer {
    background-color: #1c746b;
=======
    height: 60px;
    line-height: 60px;
    margin-bottom: 2rem;
}

div.nav-wrapper{
    padding-bottom: -10px !important;
}

/* property page header */
#propertyAdd{
    margin-left: -1rem !important;
}



footer.page-footer {
    background-color: #1c486b;
    clear: both;
    position: fixed;
    bottom: 0;
>>>>>>> 93dd483056e85956eab591c2cc51beb498f7c517
}

.cardContentUser {
    padding-bottom: 0 !important;
}
<<<<<<< HEAD

#indexSubmit{
    height: 3.2em;
}
.errorToast{
    background-color: orange;
}
.more-homes{
margin-top: -2rem;
background-color: #1c486b;
}
=======

.btn{
    background-color: #1c486b;
}


/* label focus color */
.input-field input:focus + label {
    color: #1c486bed !important;
  }
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #1c486b !important;
    box-shadow: 0 1px 0 0 #1c486b !important
  }

ul.dropdown-content.select-dropdown li span {
    color: black; 
}

input.select-dropdown{
    margin-top: 1rem !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color:#1c486b;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #1c486b;
}

.tabs .tab a{
    color:#000 !important;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000 !important;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:white !important;
    color:#000 !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#1c486b !important;
} /*Color of underline*/


.pagination li.active a {
    background: #1c486b;
    color: #fff;
}
>>>>>>> 93dd483056e85956eab591c2cc51beb498f7c517
